<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header"/>
</head>
<body>
<th:block th:replace="base::navbar"/>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1>Admin Panel</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container address-container">
                    <a class="text">Administrator Settings:</a><br>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action"><a th:href="@{/admin/groups}">Manage Groups</a></li>
                        <li class="list-group-item list-group-item-action"><a th:href="@{/admin/orders}">Manage Orders</a></li>
                        <li class="list-group-item list-group-item-action"><a th:href="@{/admin/users}">Manage Users</a></li>
                        <li class="list-group-item list-group-item-action"><a th:href="@{/admin/placeholder}">TBD...</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</main>
</body>
</html>