<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header"/>
</head>
<body>
<th:block th:replace="base::navbar"/>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <h1><a th:href="@{/user/dashboard}">My Account</a></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row list-row">
                    <div class="container address-container">
                        <pre><a class="address-header">Saved <a th:text="${label}" id="address-type"></a> Info:</a></pre>
                        <div th:each="address,iter : ${addresses}" class="container address">
                            <div class="row address-header">
                                <pre><a th:text="${label}"></a><a> Info #</a><a th:text="${iter.index + 1}"></a>:</pre>
                            </div>
                            <div th:id="${iter.index + 1}" class="row">
                                <p>
                                    <a th:id="addrName" th:text="${address.name}"></a><br>
                                    <a th:id="addrLine1" th:text="${address.line1}"></a><br>
                                    <a th:id="addrLine2" th:if="${address.line2 != ''}" th:text="${address.line2}"></a><br th:if="${address.line2 != ''}">
                                    <a th:id="addrCity" th:text="${address.city}"></a>, <a th:id="addrState" th:text="${address.state}"></a> <a th:id="addrZip" th:text="${address.zip}"></a><br>
                                    <a th:href="@{/user/dashboard}"><button type="button" class="btn btn-primary" th:attr="onclick=|deleteAddress('${iter.index + 1}')|">Delete Address</button></a><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row list-row">
                    <div class="container address-container">
                        <form id="address-form">
                            <a>Enter New Billing Info:</a>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="addr1">Address Line 1:</label>
                                <input type="text" class="form-control" id="addr1">
                            </div>
                            <div class="form-group">
                                <label for="addr2">Address Line 2:</label>
                                <input type="text" class="form-control" id="addr2">
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city">
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <select type="name" class="form-control" id="state">
                                    <option value="">-- State --</option>
                                    <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip Code:</label>
                                <input id="zip" name="zip" type="text" pattern="[0-9]*">
                            </div>
                            <div class="form-group">
                                <a th:href="@{/user/dashboard}" th:if="${label == 'Billing'}"><button type="button" class="btn btn-primary" onclick="addAddress(true)">Save</button></a>
                                <a th:href="@{/user/dashboard}" th:if="${label != 'Billing'}"><button type="button" class="btn btn-primary" onclick="addAddress(false)">Save</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>