<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header"/>
</head>
<body>
<th:block th:replace="base::navbar"/>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <ul>
                    <li>My Account:</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="row list-row">
                    <div class="container address-container">
                        <a>Saved Billing Info:</a>
                        <div class="container address">
                            <div class="row">
                                <a>Billing Info 1:</a><button>&times;</button>
                            </div>
                            <div class="row">
                                <p>1234 made up lane<br>Philadelphia, PA 19104</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row list-row">
                    <div class="container address-container">
                        <form>
                            <a>Enter New Billing Info:</a>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="addr1">Address Line 1:</label>
                                <input type="text" class="form-control" id="addr1">
                            </div>
                            <div class="form-group">
                                <label for="addr2">Address Line 2:</label>
                                <input type="text" class="form-control" id="addr2">
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zipcode:</label>
                                <input id="zip" name="zip" type="text" pattern="[0-9]*">
                            </div>
                            <div class="form-group">
                                <label for="state">Sate:</label>
                                <select type="name" class="form-control" id="state">
                                    <option value="">-- State --</option>
                                    <option value="AL">Alaska</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>