<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header"/>
</head>
<body>
<th:block th:replace="base::navbar"/>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <ul>
                    <li>My Account:</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col colFirst">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action"><a href="/user/billing">Billing and Shipping Info</a></li>
                    <li class="list-group-item list-group-item-action"><a href="/user/payment">Payment Methods</a></li>
                    <li class="list-group-item list-group-item-action"><a href="/user/orders"></a>Your Orders</li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>