<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header"/>
    <script type="text/javascript" src="/js/cart.js"></script>
    <script src="https://js.stripe.com/v3/"></script>


</head>
<body>
<th:block th:replace="base::navbar"/>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1>My Cart</h1>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row spacer">
                <div class="col">
                    <div class="container address-container">
                        <th:block th:each="ticket,iter : ${cart.getItems()}">
                            <div class="row container address">
                                <p>
                                    <a class="address-header"><pre><a>Ticket #</a><a th:text="${iter.index + 1}"></a></pre><br></a>
                                    <pre><a>From: </a><a th:text="${ticket.getFrom()}"></a></pre><br>
                                    <pre><a>To: </a><a th:text="${ticket.getTo()}"></a></pre><br>
                                    <pre><a>Price: </a><a th:text="${ticket.getPrice()}"></a></pre><br>
                                </p>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="row spacer">
                <div class="col col-6">
                    <div class="container address-container">
                        <a class="address-header">Choose a Billing Address</a>
                        <div class="row">
                            <select type="name" class="form-control address-select" id="billingAddress">
                                <option value="">-- Select Billing Address --</option>
                                <option th:each="address,iter : ${billingAddresses}" th:value="'billing'+${iter.index + 1}" th:text="'Billing Address ' + ${iter.index + 1}"></option>
                            </select>
                        </div>
                        <br>
                        <div th:each="address,iter : ${billingAddresses}" class="container address">
                            <div class="row address-header">
                                <pre><a>Billing Info #</a><a th:text="${iter.index + 1}"></a>:</pre>
                            </div>
                            <div class="row">
                                <a hidden th:id="'billing'+${iter.index + 1}" th:text="${address.getId()}"></a>
                                <p>
                                    <a th:id="addrName" th:text="${address.getName()}"></a><br>
                                    <a th:id="addrLine1" th:text="${address.getLine1()}"></a><br>
                                    <a th:id="addrLine2" th:if="${address.getLine2() != ''}" th:text="${address.getLine2()}"></a><br th:if="${address.getLine2() != ''}">
                                    <a th:id="addrCity" th:text="${address.getCity()}"></a>, <a th:id="addrState" th:text="${address.getState()}"></a> <a th:id="addrZip" th:text="${address.getZip()}"></a><br>
                                </p>
                            </div>
                        </div>

                        <!-- 
                            TODO: Make form appear if user selects "New Address"

                        <form id="address-form">
                            <a>Enter New Billing Info:</a>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="addr1">Address Line 1:</label>
                                <input type="text" class="form-control" id="addr1">
                            </div>
                            <div class="form-group">
                                <label for="addr2">Address Line 2:</label>
                                <input type="text" class="form-control" id="addr2">
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip Code:</label>
                                <input id="zip" name="zip" type="text" pattern="[0-9]*">
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <select type="name" class="form-control" id="state">
                                    <option value="">-- State --</option>
                                    <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>

                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="addAddress(true)">Save</button>
                            </div>
                        </form> -->
                    </div>
                </div>

                <div class="col col-6">
                    <div class="container address-container">
                        <a class="address-header">Choose a Shipping Address</a>
                        <div class="row">
                            <select type="name" class="form-control address-select" id="shippingAddress">
                                <option value="">-- Select Shipping Address --</option>
                                <option th:each="address,iter : ${shippingAddresses}" th:value="'shipping'+${iter.index + 1}" th:text="'Shipping Address ' + ${iter.index + 1}"></option>
                            </select>
                        </div>
                        <br>
                        <div th:each="address,iter : ${shippingAddresses}" class="container address">
                            <div class="row address-header">
                                <pre><a>Shipping Info #</a><a th:text="${iter.index + 1}"></a>:</pre>
                            </div>
                            <div class="row">
                                <a hidden th:id="'shipping'+${iter.index + 1}" th:text="${address.getId()}"></a>
                                <p class="ticket-para">
                                    <a th:id="addrName" th:text="${address.getName()}"></a><br>
                                    <a th:id="addrLine1" th:text="${address.getLine1()}"></a><br>
                                    <a th:id="addrLine2" th:if="${address.getLine2() != ''}" th:text="${address.getLine2()}"></a><br th:if="${address.getLine2() != ''}">
                                    <a th:id="addrCity" th:text="${address.getCity()}"></a>, <a th:id="addrState" th:text="${address.getState()}"></a> <a th:id="addrZip" th:text="${address.getZip()}"></a><br>
                                </p>
                            </div>
                        </div>
                        
                        <!-- 
                            TODO: Make form appear if user selects "New Address"
                        
                            <form id="address-form">
                            <a>Enter New Billing Info:</a>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="addr1">Address Line 1:</label>
                                <input type="text" class="form-control" id="addr1">
                            </div>
                            <div class="form-group">
                                <label for="addr2">Address Line 2:</label>
                                <input type="text" class="form-control" id="addr2">
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip Code:</label>
                                <input id="zip" name="zip" type="text" pattern="[0-9]*">
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <select type="name" class="form-control" id="state">
                                    <option value="">-- State --</option>
                                    <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
    
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="addAddress(false)">Save</button>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="row list-row">
                <div class="container address-container">
                    <a class="address-header">Choose a Credit Card</a>
                    <div class="row">
                        <select type="name" class="form-control address-select" id="creditCard">
                            <option value="">-- Select Credit Card --</option>
                            <option th:each="card,iter : ${cards}" th:value="'card'+${iter.index + 1}" th:text="'Credit Card ' + ${iter.index + 1}"></option>
                        </select>
                    </div>
                    <br>
                    <div th:each="card,iter : ${cards}" class="container address">
                        <div class="row address-header">
                            <pre><a>Credit Card Info #</a><a th:text="${iter.index + 1}"></a>:</pre>
                        </div>
                        <div class="row">
                            <a hidden th:id="'card'+${iter.index + 1}" th:text="${card.getId()}"></a>
                            <p>
                                <a th:id="cardName" th:text="${card.getName()}"></a><br>
                                <pre><a>Card #: </a><a th:id="cardNumber" th:text="${card.getCardNumber()"></a><br></pre>
                            <pre><a>Exp: </a><a th:id="cardExp" th:text="${card.getCardExpMonth()} + '/' + ${card.getCardExpYear()}"></a>  <a>cvv: </a><a th:id="cardCvv" th:text="${card.getCvv()}"></a></pre>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form th:action='@{/charge}' method='POST' id='checkout-form' xmlns:th="http://www.w3.org/1999/xhtml">
                <input type='hidden' th:value="${cartTotal}" name='amount' />
                <h1>Price:<span th:text='${cartTotal}' /></h1>
                <script
                        src='https://checkout.stripe.com/checkout.js'
                        class='stripe-button'
                        th:attr='data-key=${stripePublicKey}, data-amount=${cartTotal}'
                        data-name='TrainDemo'
                        data-description='Order Checkout'
                        data-image ='http://www.stackabuse.com/assets/images/sa-java-dark.svg?v=b5a08453df'
                        data-locale='auto'
                        data-zip-code='false'>
                </script>
            </form>
            <div class="row spacer">
                <a class="checkout-button"><button class="btn btn-primary checkout-button" th:type="button" th:onclick="completeOrder()">Complete Order</button></a>
            </div>
        </div>
    </div>
</main>
</body>
</html>