.authenticated, .unauthenticated
{
    display:none;
}

div.address-container {
    border: 1px solid;
    padding: 1rem;
    box-shadow: 5px 10px 10px #888888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    height: 100%;
}

div.list-row {
    padding: 10px;
}

div.address {
    margin-left: 20px;
    margin-right: 20px;
}

.address-header {
    text-decoration: underline;
    font-weight: bold;
}

ul.account-header {
    list-style: none;
    font-weight: bold;
    font-size: large;
}
body {
    margin-top: 50px;
}

.ticket-para {
    -ms-word-wrap: normal;
    word-wrap: normal;
}

.address-select {
    margin: 10px;
}

.row.spacer {
    margin-top: 10px;
    margin-bottom: 10px;
}