<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block  th:fragment="header">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Train Ticket</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"/>
        <link rel="stylesheet" href="/css/style.css"/>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
        <script src="https://kit.fontawesome.com/788a7f77f8.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/script.js"></script>
        <script type="text/javascript" src="/js/user.js"></script>
    </th:block>
</head>
<body>
<th:block  th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Train Ticket</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/about}">About <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active authenticated">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Admin Panel <span class="sr-only">(current)</span></a>
                </li>
                <li class="ml-auto nav-item authenticated dropdown dropdown-menu-right">
                    <a class="nav-link dropdown-toggle" href="#" id="profile-name" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-name">
                        <a class="dropdown-item" th:href="@{/user/dashboard}"><i class="fas fa-user"></i> My Account</a>
                        <a class="dropdown-item" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i> My Cart</a>
                        <a class="dropdown-item" href="/" onclick="logout()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                    </div>
                </li>
                <li class="ml-auto nav-item unauthenticated">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signInModal">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="signInModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Get the most of our site by signing in with one of these supported services.</p>
                    <a class="btn btn-block btn-social btn-github" href="/oauth2/authorization/github" role="button">
                        <i class="fab fa-github"></i> Sign in with Github
                    </a>
                    <a class="btn btn-block btn-social btn-google" href="/oauth2/authorization/google" role="button">
                        <i class="fab fa-google"></i> Sign in with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="newAccountModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAccountModalLongTitle">New Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>It seems you are a new user on the site. We need this bit of information about you as a passenger.</p>
                    <form>
                        <div class="form-group">
                            <label for="fname">First Name:</label>
                            <input type="text" class="form-control" id="fname">
                        </div>
                        <div class="form-group">
                            <label for="lname">Last Name:</label>
                            <input type="text" class="form-control" id="lname">
                        </div>
                        <div class="form-group">
                            <label for="phNumber">Phone Number: ex: (9145536614)</label>
                            <input type="text" class="form-control" id="phNumber" pattern="[0-9]*">
                        </div>
                        <div class="form-group">
                            <button onclick="addUser()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>