<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header"/>
</head>
<body>
    <th:block th:replace="base::navbar"/>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <form id="SearchForm" method="post" th:action="@{/search}" th:object="${query}">
                    <div class="form-group">
                        <h2>Search for Available Routes!</h2>
                    </div>
                    <div class="form-group">
                        <span class="form-label">From: </span>
                        <select class="form-control" th:field="*{from}">
                            <option th:each="stop: ${stops}" th:text="${stop.id} + ' - ' + ${stop.name}" th:value="${stop.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="form-label">To: </span>
                        <select class="form-control" th:field="*{to}">
                            <option th:each="stop: ${stops}" th:text="${stop.id} + ' - ' + ${stop.name}" th:value="${stop.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-btn">
                            <button class="btn btn-primary submit-btn">Search!</button>
                        </div>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="signInModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Get the most of our site by signing in with one of these supported services.</p>
                        <a class="btn btn-block btn-social btn-github" href="/oauth2/authorization/github" role="button">
                            <i class="fab fa-github"></i> Sign in with Github
                        </a>
                        <a class="btn btn-block btn-social btn-google" href="/oauth2/authorization/google" role="button">
                            <i class="fab fa-google"></i> Sign in with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>